/* * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
} */

#navbar {
   width: 10%;
   float: left;
   position: fixed;
}

.nav-link {
   font-size: 0.9em;
   /* text-decoration: none; */
   color: rgb(68, 68, 68);
   line-height: 1.5em;
}

#container {
   padding-left: 20%;
}

@media (max-width:599px) {
   width: 100%;
}